@import url(https://fonts.bunny.net/css?family=martian-mono:400,600|amaranth:400,700|atkinson-hyperlegible:400,700);
@import 'tailwindcss';

@theme {
    --default-font-family: 'Atkinson Hyperlegible', sans-serif;
    --font-mono: 'Martian Mono', monospace;
    --color-body: light-dark(var(--color-gray-200), var(--color-gray-900));

    --text-xs: 1.5rem;
    --text-sm: 2rem;
    --text-md: 3rem;
    --text-lg: 4rem;
    --text-xl: 5rem;

    --spacing: 4px;
    --radius*: initial;
    --radius-sm: 4px;
    --radius-md: 8px;
    --radius-lg: 12px;
}

html {
    @apply text-[10px] lg:text-[12px];
    color-scheme: light dark;
}

body {
    @apply text-sm;
    @apply row justify-center w-screen h-screen;
    @apply text-black dark:text-white bg-body overflow-hidden;
}

@utility row {
    @apply flex flex-row;
}

@utility col {
    @apply flex flex-col;
}

@utility abs-center-x {
    @apply absolute left-[50%] translate-x-[-50%];
}

@utility abs-center-y {
    @apply absolute top-[50%] translate-y-[-50%];
}

@utility abs-center {
    @apply abs-center-x abs-center-y;
}

/* Fade in */
.underline-link {
    @apply relative;
}

.underline-link::after {
    @apply bottom-0 left-0 absolute w-full h-[0.1em] content-[''];
    
    background: currentColor;
    transition: transform 300ms, opacity 100ms;
    
    transform: scaleX(0);
    opacity: 0;
    transform-origin: center;
}

.underline-link:hover::after,
.underline-link:focus::after{
    transform: scaleX(1);
    opacity: 1;
}