@import url(https://fonts.bunny.net/css?family=martian-mono:400,600|amaranth:400,700|atkinson-hyperlegible:400,700);
@import 'tailwindcss';
@import '~bicons/font/bootstrap-icons.min.css';

@theme {
    --default-font-family: 'Atkinson Hyperlegible', sans-serif;
    --font-mono: 'Martian Mono', monospace;
    --color-body: light-dark(var(--color-gray-200), var(--color-gray-900));
}

html {
    @apply text-[18px] lg:text-[20px];
    color-scheme: light dark;
}

body {
    @apply flex flex-row justify-center w-screen h-screen;
    @apply text-black dark:text-white bg-body overflow-hidden;
}

.row {
    @apply flex flex-row;
}
.col {
    @apply flex flex-col;
}