@import url(https://fonts.bunny.net/css?family=alef:400,700|martian-mono:400,600);
@import '~bicons/font/bootstrap-icons.min.css';
@import 'tailwindcss';

@theme {
    --default-font-family: 'Alef', sans-serif;
    --font-mono: 'Martian Mono', monospace;
}

html {
    font-size: 20px;
}

body {
    @apply flex flex-row justify-center w-screen h-screen;
    @apply text-black bg-gray-300 dark:text-white dark:bg-gray-900
}

.row {
    @apply flex flex-row;
}
.col {
    @apply flex flex-col;
}